<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392804438663-hbagug7p8dirjm3c35qagvlbnugkp1vg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392804438663-hbagug7p8dirjm3c35qagvlbnugkp1vg</string>
	<key>API_KEY</key>
	<string>AIzaSyDN8o11In0b0A_hpndjLyLmDuZV_531Do8</string>
	<key>GCM_SENDER_ID</key>
	<string>392804438663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodyzzHQ</string>
	<key>PROJECT_ID</key>
	<string>foodyzz-27b3e</string>
	<key>STORAGE_BUCKET</key>
	<string>foodyzz-27b3e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392804438663:ios:85912ae8f912a5b6e75e22</string>
</dict>
</plist>